@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

@font-face {
  font-family: "Montserrat-Regular";
  src: url(./fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: "Lucida";
  src: url(./fonts/Lucida.ttf);
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url(./fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url(./fonts/Montserrat-SemiBold.ttf);
}

:root{
  --primary: #fff;
  --secondary: #4e4e4e;
  --error: #ff4a4a;
}

body{
  font-family: Montserrat-Regular;
  color: var(--secondary);
}
